<div class="container">
  <header-i18n showLangText="false" class="langs"></header-i18n>
  <div class="wrap">
    <div class="top">
      <div class="head mb-lg">
        <!-- <img class="logo" src="./assets/logo-color.svg"> -->
        <span class="title">GCOX</span>
      </div>
      <!-- <div class="desc">The most influential "Sunflower Collection" in the martial arts</div> -->
    </div>
    <router-outlet></router-outlet>
    <global-footer [links]="links">
      <i class="anticon anticon-copyright"></i> 2017 GCOX. All Rights Reserved.
      <!-- <a href="//github.com/cipchk" target="_blank">Card color</a>&nbsp; Exhibition -->
    </global-footer>
  </div>
</div>
